<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.na_uglu.planchecker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddProject"
            android:label="Project Editor"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.na_uglu.planchecker.MainActivity" />
        </activity>
        <activity
            android:name=".AddTask"
            android:label="@string/title_activity_add_task"
            android:parentActivityName=".AddProject"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.na_uglu.planchecker.AddProject" />
        </activity>
        <activity
            android:name=".TimerActivity"
            android:label="@string/title_activity_timer"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.na_uglu.planchecker.MainActivity" />
        </activity>

        <receiver
            android:name=".TimerEndReceiver"
            android:process=":remote" />

        <activity
            android:name=".AddTime"
            android:label="@string/title_activity_add_time"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.na_uglu.planchecker.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.na_uglu.planchecker.MainActivity" />
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.na_uglu.planchecker.MainActivity" />
        </activity>

        <service
            android:name=".NetworkSync"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>